table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #FF69B4;
    color: white;
}
